@model IEnumerable<SafetyTourism.Models.Recomendacao>

@{
    ViewData["Title"] = "Recomendações";
}

<h1>Recomendações</h1>

<p>
    <a asp-action="Create">Criar nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Conteúdo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conteudo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecomendacaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.RecomendacaoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.RecomendacaoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
