@model IEnumerable<SafetyTourism.Models.Utilizador>

@{
    ViewData["Title"] = "Utilizadores";
}

<h1>Utilizadores</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>
                Morada
            </th>
            <th>
                Telefone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UtilizadorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UtilizadorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.UtilizadorId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
