@model IEnumerable<SafetyTourism.Models.Doenca>

@{
    ViewData["Title"] = "Doenças";
}

<h1>Doenças</h1>

<p>
    <a asp-action="Create">Criar nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Recomendação da OMS
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recomendacao.Conteudo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoencaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DoencaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DoencaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
