@model PaginatedList<SafetyTourism.Models.Surto>

@{
    ViewData["Title"] = "Surtos";
}

<h1>Surtos</h1>

<p>
    @if (User.IsInRole("Funcionario") || User.IsInRole("Administrador"))
    {
    <div>
        <a asp-action="Create">Criar novo</a>
    </div>
    }
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pesquisar por Destino ou Doença: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Pesquisar" class="btn btn-default" /> |
            <a asp-action="Index">Voltar à lista completa</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DestinoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Destino</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DoencaSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Doença</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DataSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GravidadeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Gravidade</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["InfectadosSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nº de Infectados por 100.000 habitantes</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doenca.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gravidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InfectadosPor100k)
                </td>
                <td>
                    @if (User.IsInRole("Funcionario") || User.IsInRole("Administrador"))
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.SurtoId">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.SurtoId">Apagar</a> |
                            <a asp-action="Details" asp-route-id="@item.SurtoId">Detalhes</a>
                        </div>
                    }
                    @if (User.IsInRole("Visitante"))
                    {
                        <div>
                            <a asp-action="Details" asp-route-id="@item.SurtoId">Detalhes</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Seguinte
</a>