@model IEnumerable<SafetyTourism.Models.AfectadoPor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gravidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfectadosPor100k)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doenca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gravidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfectadosPor100k)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destino.DestinoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doenca.DoencaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AfectadoPorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AfectadoPorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AfectadoPorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
