@model SafetyTourism.Models.Surto

@{
    ViewData["Title"] = "Apagar surto";
}


<h3>Tens a certeza que queres apagar este surto?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zona.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zona.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Virus.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Virus.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDetecao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDetecao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
