@model PaginatedList<SafetyTourism.Models.Recomendacao>

@{
    ViewData["Title"] = "Recomendações";
}

<h1>Recomendações</h1>

<p>
    @if (User.IsInRole("Funcionario") || User.IsInRole("Administrador"))
    {
        <div>
            <a asp-action="Create">Criar nova recomendação</a>
        </div>
    }
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pesquisar por Recomendação ou Zona: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Pesquisar" class="btn btn-default" /> |
            <a asp-action="Index">Voltar à lista completa</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ZonaSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Zona</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["InformacaoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Informação</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DataSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ValidadeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Validade</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zona.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                @if (User.IsInRole("Funcionario") || User.IsInRole("Administrador"))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </div>
                }
                @if (User.IsInRole("Visitante"))
                {
                    <div>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Seguinte
</a>
