@model SafetyTourism.Models.AfectadoPor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AfectadoPor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Destino
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino.Nome)
        </dd>
        <dt class = "col-sm-2">
            Doença
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doenca.Nome)
        </dd>
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            Gravidade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gravidade)
        </dd>
        <dt class="col-sm-2">
            Nº de Infectados por 100.000 habitantes
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfectadosPor100k)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AfectadoPorId">Edit</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
